<h1>Hello World Angular!</h1>

<a routerLink="" class="space">First Component</a>

<a routerLink="ListRender" class="space">ListRender</a>

<a routerLink="Directives" class="space">Directives</a>

<a routerLink="IfRender" class="space">IfRender</a>

<a routerLink="Events" class="space">Events</a>

<a routerLink="Emitter" class="space">Emitter</a>

<a routerLink="Pipes" class="space">Pipes</a>

<a routerLink="TwoWay" class="space">TwoWay</a>

<!-- tive que deixar essa para fins didaticos - @Input -->
<app-parent-data [name]="userName" [data]="userData"></app-parent-data>

<router-outlet></router-outlet>
